*{
    box-sizing: border-box;
  }
  
  .letter{
    width: 300px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
  }
  .block{
    background: rgb(253, 143, 253);
    border-radius: 10px;

  
  /*  border-radius: 50% 0 0 0;*/
  /*  transform: skew(10deg);*/
  /*  mix-blend-mode: multiply; */
  /*  filter: drop-shadow(15px 15px yellow);*/
  }

  .block:hover{
    filter:blur(4px);
  }