body{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 500%;
    margin-top: 40vh;
    background-color: rgb(43, 43, 43);
    color: white;
    border: outset 10px white;
    padding: 1rem;
}

body:hover .word{
    display: inline;
}

body:hover .punctuation{
display: none;
}

.word{
    color: white;
    display: none;
}

.exclamation{
    color:rgb(255, 242, 0);
}

.period{
    color: blueviolet;
}

.quotation{
    color: rgb(113, 255, 210);
}

.semicolon{
    color:rgb(255, 140, 0)
}

.comma{
    color:red;
}

.colon{
    color: magenta;
}

.apostrophe{
color:blue;}

.question{
    color: yellowgreen;
}

.symbol{
    font-size: 500%;
    color: blueviolet;
}

a:link { text-decoration: none; 
    color: blueviolet;}


a:visited { text-decoration: none;
    color: blueviolet; }


a:hover { text-decoration: none;
    color: blueviolet;}


a:active { text-decoration: none; 
    color: blueviolet;}

    @media (max-width: 600px){
        body{
            font-size: 235%;
        }
    }