@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'VT323', monospace;
    line-height: 2.7vh;
    padding-top: 7vh;
    padding-left: 5vw;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(189, 255, 189);
    border-radius: 10px;
    width: 40vw;
}

.flex-item-selected{
 width: 90vw;
}

.flex-item{
 padding:0rem;
 margin:0rem;
 background-color:white;
 border-radius: 10px;
 width: 40vw;
}

.symbol{
    padding: 8vh;
    margin-left: vw;
    text-align: right;
    font-size: 500%;
    color: orange;
    font-family: 'Press Start 2P', cursive;
}