body{
    font-family: 'Lucida Grande';
    font-size: 80%;
    line-height: 16px;
  }
  
h1{
    font-weight: normal;
  }

  
  section{
    width: 420px;
    height:280px;
  }

.inner-screen{
display: flex;
width: 420px;
padding-top: 30px;
}

.content{
  padding-left: 20px;
  padding-top:5px;
}

.battery {
  width: 15px;
  height: 15px;
}

.play img{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 230px;
  left: 137.5px;
}

.back img{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 137.5px;
  left: 37.5px;
}

.next img{
  position: absolute;
  width: 25px;
  height: 25px;
  top: 137.5px;
  left: 237.5px;
}

.menu{
  position: absolute;
  top: 0px;
  left: 133px;
  top: 37.5px;
  color: white;
}

.song{
  margin-left: 20px;
}

.song-length{
  margin-right: 20px;
}

.image{
  padding-left: 20px;
}

.song-length{
  text-align: right;
}

  main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  img{
    width: 125px;
  }

  .top{
    width: 420px;
    height: 20px;
    background-color: lightgray;
    text-align: center;
  }

  .item{
    display: none;
  }
  .active.item{
    display: block;
  }

  .energetic{
    background-color: #fffa77;
  }

  .pumped{
    background-color: #ff563f;
  }

  .invigorated{
    background-color: #91f9a7;
  }

  .somber{
    background-color: #919bf9;
  }

  .mellow{
    background-color: #38c19f;
  }

  .groove{
    background-color: #ffa800;
  }


  .body{
    background-color: #222;
    width: 500px;
    height: 700px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  
  .screen{
    width: 420px;
    height: 280px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: solid 10px black;
    border-radius: 10px;
    display: flex;
    margin-top: 0px;
  }
  
  .wheel{
    background-color: #383838;
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 40px;
  }
  
  

  
  .center{
    background-color: #222;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    
  }
  