
@font-face {
    font-family: 'Pentameter';
    font-style: -16deg 0deg;
    font-weight: 100 700;
    font-display: swap;
    src: url('fonts/PentameterVF.woff2') format('woff2');
   }
   
   body{
    font-family: lores-12, sans-serif;
    font-weight: 400;
    font-style: normal;
       display: flex;
       align-items: center;
       min-height: 100vh;
       background-color: gray;
   }

 main{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
   }

.display{
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width:700px;
    height: auto;
}

.item{
    display: none;
  }
  .active.item{
    display: block;
  }

  .buttonrow{
    display: flex;
    flex-direction: row;
    -ms-flex-item-align: center;
margin-left: auto;
margin-right: auto;
}

.info{
    width: 290px;
    height: 170px;
}

.button{
    width: 70px;
    height: 50px;
    background-color: lightgray;
    border-radius: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}
.full-screen{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #8BC278;
    border: solid 30px darkslategray;
    border-radius: 40px;
    width: 800px;
    height: 400px;
}

.radioscreen{
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
   
.buttoncontent{
    line-height: 45px;
}

.icon{
    height: 50px;
    width: 50px;
}

.gif{
    height: 100px;
    width: 100px;
}

.counter{
display: flex;
flex-direction: row;
margin-left: auto;
margin-right: auto;
column-gap: 60px;
align-items: center;
}

.count{
font-size: large;
align-items: center;
}

.title{
    font-size: x-large;
    background-color: black;
    color: #8BC278;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: auto;
    margin-top: 15px;
    text-align: center;
}

.idle{
    width: 30px;
    height: 30px;
}

.idle img{
    width: 30px;
    height:30px;
}

.moving{
    display: none;
    width: 30px;
    height: 30px;
}

.moving img{
    width: 30px;
    height: 30px;
}

.up{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top:10px;
}

.up:hover .idle{
    display: none;
}

.up:hover .moving{
    display: block;
}

.down{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom:10px;
}

.down:hover .idle{
    display: none;
}

.down:hover .moving{
    display: block;
}

section {
width: 600px;
margin-left: auto;
margin-right: auto;
margin-top: 90px;
}

a:link { text-decoration: none; 
}


a:visited { text-decoration: none;
}


a:hover { text-decoration: none;
}


a:active { text-decoration: none; 
}

@media (max-width: 400px){
main{
    font-size: small;
}

    .radioscreen{
    width:330px;

}
.full-screen{
    width: 280px;
    height: 550px;
}

main{
    flex-direction: row;
    flex-wrap: wrap;
    width: 280px;
}

.item{
    width: 270px;
    flex-wrap: wrap;
}

section{
    width: 260px;    
    margin-top: 120px;
    font-size: small;
}
.about{
    width: 280px;
}
.gif{
    width: 50px;
    height: 50px;
}
.display{
    width: 280px;
    flex-direction: column;
}
.icon{
    width: 25px;
    height: 25px;
}
.phone{
    width: 280px;
}
.pixel{
    width: 280px;
}
.response{
    width: 280px;
}
.counter{
    column-gap: 10px;
    margin-top: 30px;
}
.up{
    margin-top: 20px;
}
}